<!DOCTYPE html>
<html>
<head>
    <title>Image Classifier</title>
</head>
<body>
    <h1>Image Classifier</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
        <input type="submit" value="Upload">
    </form>
    <div id="result"></div>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById('result').textContent = 'Predicted Class: ' + response.class;
                }
            };

            xhr.open('POST', '/predict', true);
            xhr.send(formData);
        });
    </script>
</body>
</html>
